@import "tailwindcss";

@theme {
  --color-brand: #ffc020;
  --color-brand-light: #ffd65a;
  --color-brand-dark: #e6ac00;
}

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
